.navbarApp,
#riwayatModalHeader {
    background: rgb(248, 249, 250);
    background: -moz-linear-gradient(
        0deg,
        rgba(248, 249, 250, 1) 10%,
        rgba(196, 244, 255, 1) 100%
    );
    background: -webkit-linear-gradient(
        0deg,
        rgba(248, 249, 250, 1) 10%,
        rgba(196, 244, 255, 1) 100%
    );
    background: linear-gradient(
        0deg,
        rgba(248, 249, 250, 1) 10%,
        rgba(196, 244, 255, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f8f9fa",endColorstr="#c4f4ff",GradientType=1);
}

#navbarPanduan {
    background: rgb(248, 249, 250);
    background: -moz-linear-gradient(
        0deg,
        rgba(196, 244, 255, 1) 10%,
        rgb(248, 248, 250) 100%
    );
    background: -webkit-linear-gradient(
        0deg,
        rgba(196, 244, 255, 1) 10%,
        rgba(248, 249, 250, 1) 100%
    );
    background: linear-gradient(
        0deg,
        rgba(196, 244, 255, 1) 10%,
        rgba(248, 249, 250, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f8f9fa",endColorstr="#c4f4ff",GradientType=1);
}

.utama,
#riwayatModalBody {
    background: rgb(8, 124, 167);
    background: -moz-linear-gradient(
        2deg,
        rgba(8, 124, 167, 1) 0%,
        rgba(5, 178, 220, 1) 25%,
        rgba(248, 249, 250, 1) 75%
    );
    background: -webkit-linear-gradient(
        2deg,
        rgba(8, 124, 167, 1) 0%,
        rgba(5, 178, 220, 1) 25%,
        rgba(248, 249, 250, 1) 75%
    );
    background: linear-gradient(
        2deg,
        rgba(8, 124, 167, 1) 0%,
        rgba(5, 178, 220, 1) 25%,
        rgba(248, 249, 250, 1) 75%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#087ca7", endColorstr="#f8f9fa", GradientType=1);
    color: #333; /* Pastikan teks memiliki kontras yang baik dengan latar belakang */
}

.dt-info {
    color: #f8f9fa;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.spin-animation {
    animation: spin 0.5s linear;
    -webkit-animation: spin 0.5s linear;
}

:root {
    --header-height: 60px;
}

.navbar,
header {
    height: var(--header-height);
}

.full-screen {
    min-height: calc(100vh - (3 * var(--header-height)));
}

.mt-header {
    margin-top: var(--header-height);
}

/* CSS for Desktop */
.nav-link {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
}

.nav-link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    left: 10%;
    bottom: 3px;
    background-color: #087ca7;
    transition: width 0.3s ease, left 0.3s ease;
}

#navbarKosakataku .nav-link.active::after,
#navbarKosakataku .nav-link:hover::after {
    width: 65%;
    left: 13%;
}

#navbarPanduan .nav-link.active::after,
#navbarPanduan .nav-link:hover::after {
    width: 65%;
    left: 13%;
}

.nav-link.active,
.nav-link:hover {
    color: #087ca7;
}

.dropdown-item.active {
    background: #087ca7 !important;
    color: #f8f9fa !important;
}

.icon-pc-only {
    display: inline;
}

/* CSS for Mobile */
@media (max-width: 767px) {
    .navbar,
    header {
        height: auto;
    }

    .nav-item {
        width: 13%;
    }

    .nav-panduan {
        margin: 0 10px;
        width: auto;
    }

    .nav-link {
        margin: 5px 0;
    }

    .nav-link::after {
        content: "";
        position: absolute;
        width: 0;
        height: 3px;
        left: -1%;
        bottom: 3px;
        background-color: #121213;
        transition: width 0.3s ease, left 0.3s ease;
    }

    #navbarKosakataku .nav-link.active::after,
    #navbarKosakataku .nav-link:hover::after {
        width: 50%;
        left: 5%;
    }

    .icon-pc-only {
        display: none !important;
    }
}

.table-container {
    overflow-x: auto; /* Enables horizontal scrolling for the table */
    overflow-y: hidden; /* Prevents vertical scrolling */
    padding-bottom: 1rem; /* Adds some space for the scrollbar */
}

.table-responsive {
    width: 100%; /* Ensures table takes the full width of the container */
    overflow-x: auto; /* Enables horizontal scrolling within this element */
}

.table {
    width: 100%; /* Ensures the table takes full width */
}

.dropdown-item {
    background: transparent !important;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.dropdown-item:hover {
    background: #087ca7 !important;
    color: #f8f9fa !important;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.dropdown-toggle::after {
    content: none !important;
}

.carousel-item {
    transition: transform 0.6s ease-in-out;
    -webkit-transition: transform 0.6s ease-in-out;
    -moz-transition: transform 0.6s ease-in-out;
    -ms-transition: transform 0.6s ease-in-out;
    -o-transition: transform 0.6s ease-in-out;
}

.carousel-item.active {
    display: block;
}

#nilai {
    width: 150px;
    height: 150px;
}

.bantuan-suara {
    background-color: #f8f9fa;
    color: black;
}

.bantuan-suara:hover {
    color: #f8f9fa !important;
}
