@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.spin-animation {
    animation: spin 0.5s linear;
    -webkit-animation: spin 0.5s linear;
}

.min-vh-75 {
    min-height: 75svh;
}

/* CSS for Desktop */
.nav-link {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0; /* Initial width is 0 */
    height: 3px; /* Thickness of underline */
    left: 50%; /* Start at the center */
    bottom: 3px; /* Position below the text */
    background-color: #0D6EFD; /* Color of underline */
    transition: width 0.3s ease, left 0.3s ease; /* Transition for width and position */
}

.nav-link.active::after, .nav-link:hover::after {
    width: 65%; /* 3/4 of the text width */
    left: 13%; /* Center the underline */
}

.nav-link.active, .nav-link:hover {
    color: #0D6EFD; /* Change text color on hover or active */
}

/* CSS for Mobile */
@media (max-width: 767px) {
    .nav-link {
        margin: 10px 0;
    }

    .nav-link::after {
        width: 0; /* Initial width is 0 */
        left: 10%; /* Start at the left */
    }

    .nav-link.active::after, .nav-link:hover::after {
        width: 9%; /* Almost full width for mobile */
        left: -1px; /* Slight padding on sides */
    }
}


.dropdown-toggle::after {
content: none; /* Remove pseudo element */
}

.carousel-item {
    transition: transform .6s ease-in-out;
    -webkit-transition: transform .6s ease-in-out;
    -moz-transition: transform .6s ease-in-out;
    -ms-transition: transform .6s ease-in-out;
    -o-transition: transform .6s ease-in-out;
}

.carousel-item.active {
    display: block;
}

#nilai {
    width: 150px;
    height: 150px;
}
